.contactInfo {
  display: block;
  margin: auto;
  margin-left: 38%;
  margin-bottom: 20px; }
  .contactInfo ul {
    border-radius: 2px;
    display: inline-block;
    list-style: none;
    margin: auto;
    padding-right: 0px; }
    .contactInfo ul li {
      display: block;
      padding: 10px;
      padding-top: 0px;
      padding-bottom: 0px; }
      .contactInfo ul li a {
        display: block;
        margin: auto; }
        .contactInfo ul li a :hover {
          color: #7A98C2; }
      .contactInfo ul li p {
        color: white;
        font-size: 20px;
        text-align: center; }
      .contactInfo ul li i {
        font-size: 40px;
        color: white;
        display: block;
        text-align: center; }
      .contactInfo ul li .fa-mobile {
        font-size: 60px;
        margin-top: 20px; }
      .contactInfo ul li .fa-linkedin-square {
        margin-top: 25px;
        padding-top: 5px; }
      .contactInfo ul li .jotform {
        background-color: #7A98C2;
        font-size: 16px;
        height: 40px;
        text-align: center; }

.contactForm {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 50px; }
  .contactForm label {
    color: white;
    font-size: 23px; }
  .contactForm input {
    display: block;
    margin-top: 10px;
    width: 80%;
    color: white;
    border: none;
    border-radius: 3px;
    border: 3px solid white;
    background-color: #7A98C2; }
  .contactForm textarea {
    margin-top: 10px;
    width: 80%;
    height: 200px;
    border: 3px solid white;
    background-color: #7A98C2;
    color: white;
    border-radius: 3px; }
  .contactForm button {
    position: absolute;
    left: 15px;
    display: block;
    margin-top: 5px;
    height: 35px;
    width: 100px;
    background-color: #7A98C2;
    border: 3px solid white;
    padding: 0px; }
    .contactForm button :hover {
      background-color: white; }
      .contactForm button :hover h3 {
        color: #252525; }
    .contactForm button h3 {
      font-family: "Merriweather";
      font-size: 19px;
      font-weight: bold;
      padding: 0px;
      margin: 0;
      padding-top: 2px;
      color: white; }

.imgWrap {
  border: 10px solid #7A98C2;
  border-radius: 50%;
  height: 290px;
  width: 290px;
  margin: 50px auto auto;
  display: block; }
  .imgWrap img {
    height: 270px;
    border-radius: 50%;
    display: block;
    margin: auto; }

.info {
  margin-top: 10px;
  background-color: #252525;
  border-radius: 5px; }
  .info ul {
    padding: 5px; }
    .info ul li:nth-child(1) {
      list-style: none; }
    .info ul li {
      color: white;
      margin-left: 10px; }
      .info ul li h4 {
        color: #7A98C2;
        font-family: "Merriweather";
        font-size: 23px;
        margin-left: -15px; }
      .info ul li p {
        font-size: 16px;
        color: white; }
  .info .main h2 {
    color: #7A98C2;
    font-family: "Merriweather";
    font-style: italic; }
  .info .main p {
    font-size: 18px;
    color: white; }

.row {
  margin-top: 25px;
  margin-bottom: 25px; }
  .row .img {
    padding-top: 7px; }
    .row .img img {
      height: 145px;
      width: 80%;
      margin: auto;
      display: block; }
  .row .content {
    background-color: #252525;
    border-radius: 5px;
    border: 2px solid white; }
    .row .content h2 {
      margin-top: 8px;
      color: white;
      font-family: "Merriweather"; }
    .row .content .last {
      color: white;
      font-style: italic; }
    .row .content a {
      padding-bottom: 10px; }

body {
  background: url("../images/woodbackground"); }

h1, h2, h3, h4, p, i {
  color: #7A98C2; }

h1 {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: italic; }

header {
  text-align: center;
  margin: auto;
  background-color: #252525;
  width: 100%; }

.nav {
  border-bottom: 5px dashed #7A98C2; }
  .nav ul {
    list-style: none;
    padding: 0; }
    .nav ul li {
      display: inline-block; }
      .nav ul li a:hover {
        background-color: white;
        text-decoration: none; }
        .nav ul li a:hover h3 {
          color: #252525; }
      .nav ul li h3 {
        margin: 0;
        font-family: "Merriweather";
        font-weight: bold;
        font-size: 23px; }
      .nav ul li .btn-primary {
        height: 40px;
        padding-top: 8px;
        margin: 10px;
        background-color: #3f3f3f;
        border: none; }
        .nav ul li .btn-primary :nth-child(1) {
          margin-left: 0px; }
  .nav .imgFrame {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border: 10px solid #7A98C2; }
    .nav .imgFrame h2 {
      font-family: "Merriweather";
      font-size: 90px;
      color: white; }

.splash {
  display: block;
  margin: auto;
  text-align: center; }
  .splash h2 {
    font-family: "Dynalight";
    font-weight: bold;
    font-size: 110px;
    color: white; }
  .splash .subSplash {
    font-family: "Merriweather";
    font-size: 26px;
    display: block;
    margin: auto;
    width: 50%;
    background-color: white;
    opacity: 0.7;
    border-radius: 3px; }
    .splash .subSplash p {
      color: #252525; }

footer {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-top: 5px dashed #7A98C2;
  background-color: #252525; }
  footer .footer {
    width: 100%;
    margin: auto;
    margin-top: 10px; }
    footer .footer ul {
      list-style: none;
      padding-right: 0;
      margin-bottom: 0px; }
      footer .footer ul li {
        display: inline-block;
        padding: 10px; }
      footer .footer ul p {
        font-size: 16px; }
      footer .footer ul i {
        font-size: 30px; }
      footer .footer ul h3 {
        font-family: "Merriweather";
        font-weight: bold;
        text-decoration: underline; }
      footer .footer ul i:hover {
        color: white; }
  footer .logoWrap {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid #7A98C2;
    display: block;
    margin: auto;
    margin-top: 30px; }
    footer .logoWrap h2 {
      font-family: "Merriweather";
      font-size: 60px;
      color: white;
      display: block;
      margin: auto;
      margin-top: 7px; }
