.imgWrap{ 
	border:10px solid $primaryColor;
    border-radius: 50%;
    height: 290px;
    width: 290px;
    margin: 50px auto auto;
    display: block;
	img {
		height: 270px;
		border-radius: 50%;
		display: block;
		margin:auto;
		//margin-top: 5px;
	}
}

.info {
	margin-top:10px;
	background-color:$secondaryColor;
	border-radius: 5px;
	ul{
		padding:5px;
		li:nth-child(1){
			list-style: none;
		}
		li{
			color:white;
			margin-left: 10px;
			h4{
				color:$primaryColor;
				font-family:"Merriweather";
				font-size: 23px;
				margin-left: -15px;
			}
			p{
				//font-family: "Dynalight";
				font-size: 16px;
				color: white;
			}
		}
		}
	.main {
		h2 {
			color:$primaryColor;
			font-family: "Merriweather";
			font-style: italic;
		}
		p{
			font-size: 18px;
			color:white;
		}
	}
}