
.contactInfo {
	display:block;
	margin:auto;
	margin-left: 38%;
	margin-bottom: 20px;
	ul {
		//position: absolute;
		//right:0px;
		//background-color:$primaryColor;
		border-radius:2px;
		display:inline-block;
		list-style: none;
		margin:auto;
		padding-right: 0px;
		//border-right: 7px dashed white;
		li{
			display: block;
			padding: 10px;
			padding-top: 0px;
			padding-bottom: 0px;
			a{
				display: block;
				margin:auto;
				:hover{
					color:$primaryColor;
				}
			}
			p{
				color:white;
				font-size: 20px;
				text-align: center;
			}
			i{
				font-size: 40px;
				color:white;
				display: block;
				text-align:center;
			}
			.fa-mobile{
				font-size: 60px;
				margin-top: 20px;
			}
			.fa-linkedin-square {
				margin-top: 25px;
				padding-top:5px;
			}
			.jotform{
				background-color:$primaryColor;
				font-size: 16px;
				height: 40px;
				text-align: center;
			}
		}
	}
}


.contactForm {
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom:50px;
	label{
		color:white;
		font-size: 23px;
	}
	input{
		display: block;
		margin-top:10px;
		width: 80%;
		//background-color:white;
		color:white;
		border:none;
		border-radius:3px;
		border: 3px solid white;
		background-color:$primaryColor;
	}
	textarea{
		margin-top: 10px;
		width: 80%;
		height: 200px;
		border: 3px solid white;
		background-color:$primaryColor;
		color:white;
		border-radius:3px;
	}
	button{
		position: absolute;
		left:15px;
		display: block;
		margin-top: 5px;
		height:35px;
		width: 100px;
		background-color: $primaryColor;
		border: 3px solid white;
		padding:0px;
		:hover{
			background-color:white;
			h3{
				color:$secondaryColor;
			}
		}

		h3{
			font-family: "Merriweather";
			font-size: 19px;
			font-weight: bold;
			padding: 0px;
			margin:0;
			padding-top:2px;
			color:white;
		}
	}
}