.row {
	margin-top:25px;
	.img {
		padding-top: 5px;
		img {
			height: 145px;
			width:80%;
			margin:auto;
			display:block;
			//border-radius: 50%;
		}
	}
	.content{
		background-color: $secondaryColor;
		border-radius: 5px;
		border:2px solid white;
		h2 {
			color:white;
			font-family: "Merriweather";
		}
		.last{
			color:white;
			font-style: italic;
		}
		a {
			padding-bottom: 10px;
		}
	}
}

