$primaryColor: #7A98C2;
$secondaryColor: #252525;

@import "contact";
@import "about";
@import "work";

body {
	//background-color:$secondaryColor;
	background: url('../images/woodbackground')
}

h1, h2, h3, h4, p, i {
	color: $primaryColor;
}

h1 {
	font-family: "Merriweather";
	font-weight:700;
	font-style:italic;
}

header{
	text-align:center;
	margin:auto;
	background-color: $secondaryColor;
	width:100%;
}

.nav {
	border-bottom:5px dashed $primaryColor;
	ul{
		list-style:none;
		padding:0;
		li{
			a:hover{
					background-color:white;
					text-decoration: none;
					h3{
						color:$secondaryColor;
					}
				}

			h3{
				margin:0;
				font-family: "Merriweather";
				font-weight: bold;
				font-size: 23px;
			}
			display: inline-block;
			.btn-primary{
				height: 40px;
				padding-top: 8px;
				margin:10px;
				background-color:lighten($secondaryColor,10);
				border:none;
				:nth-child(1) {
					margin-left: 0px;
				}
			}
		}
	}
	.imgFrame{
		height: 155px;
		width: 155px;
		border-radius:50%;
		border:10px solid $primaryColor;
		h2 {
			font-family: "Merriweather";
			font-size: 90px;
			color:white;
		}
	}
}

.splash {
	display: block;
	margin:auto;
	text-align:center;
	h2 {
	font-family: "Dynalight";
	font-weight:bold;
	font-size:110px;
	color:white;
	//font-style:italic;
	}

	.subSplash {
	font-family: "Merriweather";
	font-size: 26px;
	display: block;
	margin:auto;
	width: 50%;
	background-color: white;
	opacity: 0.7;
	border-radius: 3px;
		p{
		color:$secondaryColor;
		}
	}
}


footer {
	text-align:center;
	margin:auto;
	margin-top:10px;
	border-top:5px dashed $primaryColor;
	background-color: $secondaryColor;
	.footer{
		width: 100%;
		margin:auto;
		margin-top: 10px;
		ul{
			list-style: none;
			padding-right: 0;
			margin-bottom: 0px;
			li{
				display: inline-block;
				padding:10px;
			}
			p{
				font-size: 16px;
			}
			i{
				font-size: 30px;

			}
			h3{
				font-family: "Merriweather";
				font-weight: bold;
				text-decoration: underline;
			}
			i:hover {
					color:white;
			}
		}
	}
	.logoWrap{
		height: 100px;
		width: 100px;
		border-radius:50%;
		border:10px solid $primaryColor;
		display: block;
		margin:auto;
		margin-top: 30px;
		h2 {
			font-family: "Merriweather";
			font-size: 60px;
			color:white;
			display: block;
			margin:auto;
			margin-top: 7px;
		}
	}
}

@media only screen and (max-width: 400px) {
	.nav {
		ul{
		list-style:none;
		padding:0;
		margin-top:20px;
		margin-bottom: 20px;
		li{
			a{
				margin: 0px !important;
			}
			a:hover{
					background-color:white;
					text-decoration: none;
					h3{
						color:$secondaryColor;
					}
				}

			h3{
				margin:0;
				font-family: "Merriweather";
				font-weight: bold;
				font-size: 17px;
			}
			display: inline-block;
			.btn-primary{
				height: 25px;
				padding-top: 4px;
				margin:10px;
				:nth-child(1) {
					margin-left: 0px;
				}
			}
		}
	}
	.imgFrame{
		display: none;
		height: 75px;
		width: 75px;
		h2 {
			font-size: 40px;
			margin-top: 3px;
		}
	}
}

footer{
	text-align:center;
	margin:auto;
	margin-top:10px;
	border-top:5px dashed $primaryColor;
	background-color: $secondaryColor;
	.footer{
		width: 100%;
		margin:auto;
		margin-top: 10px;
		ul{
			list-style: none;
			padding-right: 0;
			padding-left:0;
			margin-bottom: 0px;
			li{
				display: inline-block;
				padding:10px;
				strong{
					display: none;
				}
			}
			p{
				font-size: 16px;
			}
			i{
				font-size: 50px;

			}
			h3{
				font-family: "Merriweather";
				font-weight: bold;
				text-decoration: underline;
			}
			i:hover {
					color:white;
			}
		}
	}

}

}