<div class="col-lg-4 img">
	<div class="imgWrap">
		<img src="images/Jared_profile3.jpg">
	</div>
</div>

<div class="col-lg-8 info">
	<div class="main">
		<h2>Wer ist das?</h2>
		<p>Jared is a 25 year-old Gamer, Programmer, and Soccer Fanatic. He was born and raised in Cincinnati, OH and wants to make his mark on the world, whether that is getting to the elusive Global Elite rank in Counter Strike: Global Offensive or making Art. He's a supporter of Tottenham Hotspurs (EPL), Real Madrid (La Liga), Bayern Leverkusen (Bundesliga), FC Cincinnati (ULS) and Die Mannschaft (Germany's National Team).</p>
	</div>
	<ul>
		<li><h4>Fun Facts:</h4></li>
		<li><p>Was an animator by trade out of college</p></li>
		<li><p>Spent a summer in Florence, Italy studying Fine Art and History</p></li>
		<li><p>Placed 3rd in the GCL HeavyWeight class wrestling while at Moeller High School</p></li>
		<li><p>Favorite group in music is Daft Punk</p></li>
	</ul>
</div>