<div class="row contact">
	<div class="col-md-3 contactInfo">
		<ul>
			<li>
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<a href="mailto:jcknueven@gmail.com"><p>jcknueven@gmail.com</p></a>
			</li>
			<li>
				<i class="fa fa-mobile" aria-hidden="true"></i>
				<a href="tel:5133684079"><p>513 368-4079</p></a>
			</li>
			<li><i class="fa fa-linkedin-square" aria-hidden="true"></i><a href="https://www.linkedin.com/in/jared-knueven-57599770" target="_blank"><p>Visit</p></a></li>
			<li><a class="btn btn-primary jotform" href="https://form.jotform.com/62368385814162" target="_blank">Contact Me Directly!</a></li>
		</ul>
		
	</div>
	<!-- <div class="col-md-6 contactForm">
		<form>
			<label>Leave a Message!</label>
			<input type="text" name="name" placeholder="Name">
			<input type="text" name="company" placeholder="Company">
			<textarea type="textarea" name="comment" placeholder="Message"></textarea>
			<button class="btn btn-primary" type="submit" name="Submit"><h3>Send</h3></button>
		</form>
	</div> -->
</div>