<div class="row contact">
	<div class="col-md-4 contactInfo">
		<ul>
			<li><i class="fa fa-envelope" aria-hidden="true"></i><p>| jcknueven@gmail.com</p></li>
			<li><i class="fa fa-mobile" aria-hidden="true"></i><p>| 513 368-4079</p></li>
			<li><i class="fa fa-linkedin-square" aria-hidden="true"></i><a ui-sref="#">| Visit</a></li>
		</ul>
	</div>
	<div class="col-md-4 contactForm">
		<form>
			<input type="text" name="name" placeholder="Name">
			<input type="text" name="company" placeholder="Company">
			<textarea type="textarea" name="comment" placeholder="Message"></textarea>
			<button class="btn btn-primary" type="submit" name="Submit"><h3>Send</h3></button>
		</form>
	</div>
</div>