<div class="row 1">
	<div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-1 img">
		<img src="images/soundcloudimg.png">
	</div>

	<div class="col-md-7 col-sm-10 col-xs-12 content">
		<h2>Beats by JK</h2>
		<p>Soundcloud portal that enables a user to search for an artist or song, then plays in a native browser media player.</p>
		<p class="last">Uses: HTML5, CSS3, Sass, Bootstrap, Javascript, jQuery, and AJAX.</p>
		<a href="https://soundcloud-portal.herokuapp.com/index.html" target="_blank"><p>Visit the Site</p></a>
	</div>

</div>

<div class="row 2">
	<div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-1 img">
		<img src="images/marvelfan.png">
	</div>

	<div class="col-md-7 col-sm-10 col-xs-12 content">
		<h2>Marvel Fansite</h2>
		<p>Marvel comic fansite that utilizes the direct Marvel Developer API. Acts as an informational site for comics and characters of the Marvel brand.</p>
		<p class="last">Uses: HTML5, CSS3, Sass, Bootstrap, Javascript, jQuery, AJAX.</p>
		<a href="https://marvelfansite.herokuapp.com" target="_blank"><p>Visit the Site</p></a>
	</div>

</div>

<div class="row 3">
	<div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-1 img">
		<img src="images/imgurhost.png">
	</div>

	<div class="col-md-7 col-sm-10 col-xs-12 content">
		<h2>Img Host</h2>
		<p>Site, utilizing Angular MVC, that hosts image saving and sharing among users. Allows "likes" and voting method.</p>
		<p class="last">Uses: HTML5, CSS3, Sass, Bootstrap, Javascript, Back*And, and AngularJS.</p>
		<a href="http://imgurparody.herokuapp.com/" target="_blank"><p>Visit the Site</p></a>
	</div>

</div>

<div class="row 4">
	<div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-1 img">
		<img src="images/diddit.png">
	</div>

	<div class="col-md-7 col-sm-10 col-xs-12 content">
		<h2>Diddit</h2>
		<p>Reddit clone that utilizes AngularJS to practice MVC building methods, along with planning out scope and functionality.</p>
		<p class="last">Uses: HTML5, CSS3, Sass, Bootstrap, Javascript, Back*And, and AngularJS.</p>
		<a href="https://projectdiddit.herokuapp.com/index.html#/" target="_blank"><p>Visit the Site</p></a>
	</div>

</div>

<div class="row 5">
	<div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-1 img">
		<img src="images/parkalot.png">
	</div>

	<div class="col-md-7 col-sm-10 col-xs-12 content">
		<h2>ParkALot</h2>
		<p>Map Search App that locates parking in Downtown Cincinnati,OH based around a destination that which the user intends to find. Final/Group project</p>
		<p class="last">Uses: HTML5, CSS3, Sass, Bootstrap, Javascript, Back*And, MapBox/LeafletJS, and Angular.</p>
		<a href="https://parkalot1.herokuapp.com/index.html#/" target="_blank"><p>Visit the Site</p></a>
	</div>

</div>



